# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
bin/

# Logs
*.log

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Reports and output
test-output/
/reports/

# Environment
.env
